Options +FollowSymLinks -Indexes

IndexIgnore *

DirectoryIndex

<IfModule mod_headers.c>

RequestHeader set X-Forwarded-Proto https

</IfModule>

<IfModule mod_rewrite.c>

RewriteEngine on

RewriteRule ^(.*)$ http://127.0.0.1:10040/$1 [P]

</IfModule>