@font-face {
    font-family: 'Rajdhani-Regular';
    src : url('../fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-Bold';
    src : url('../fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-Light';
    src : url('../fonts/Rajdhani/Rajdhani-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-Medium';
    src : url('../fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Rajdhani-SemiBold';
    src : url('../fonts/Rajdhani/Rajdhani-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Bold';
    src : url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Regular';
    src : url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}